{% extends 'base.html' %}
{% block content %}
<h2>タスク編集</h2>
<div class="form-group">
    <form action="{% url 'edit' pk=post.pk %}" method="POST">
        {% csrf_token %}
        <!-- {{ form.as_p }} -->
        <table>
            <tr>
                <th>タイトル</th>
                <td>{{ form.title }}</td>
            </tr>
            <tr>
                <th>内容</th>
                <td>{{ form.content }}</td>
            </tr>
            <tr>
                <th>期限</th>
                <td>{{ form.deadline }}</td>
            </tr>
            <tr>
                <th>通知</th>
                <td>{{ form.when_remind }}</td>
            </tr>
        </table>
        <button type="submit" class="button">完了</button>
    </form>
    <p><a href="{% url 'detail' pk=post.pk %}">もどる</a></p>
</div>
{% endblock %}