{% extends 'todo/index.html' %}
{% block content %}
<h2>詳細</h2>
{% if post %}
<table class="todo_detail">
    <tbody>
        <tr>
            <td>タイトル</td>
            <td>{{ post.title }}</td>
        </tr>
        <tr>
            <td>内容</td>
            <td>{{ post.content }}</td>
        </tr>
        <tr>
            <td>期限</td>
            <td>{{ post.deadline }}</td>
        </tr>
        <tr>
            <td>通知</td>
            <td>{{ post.when_remind }}</td>
        </tr>
    </tbody>
</table>
{% else %}
<p>存在しないタスクです！</p>
{% endif %}
<p><a href="{% url 'index' %}">もどる</a></p>
{% endblock %}