{% extends 'todo/index.html' %}
{% block content %}
<h2>詳細</h2>
{% if post %}
<table class="todo_detail">
    <tbody>
        <tr>
            <td>タイトル</td>
            <td>{{ post.title }}</td>
        </tr>
        <tr>
            <td>内容</td>
            <td>{{ post.content|linebreaksbr }}</td>
        </tr>
        <tr>
            <td>期限</td>
            <td>{{ post.deadline }}</td>
        </tr>
        <tr>
            <td>通知</td>
            <td>{{ post.get_when_remind_display }}</td>
        </tr>
    </tbody>
</table>
<a href="{% url 'edit' post.id %}">編集</a>
<form action="{% url 'delete' post.id %}" method="post">
    {% csrf_token %}
    <button class="button del">削除</button>
</form>
{% else %}
<p>存在しないタスクです！</p>
{% endif %}
<p><a href="{% url 'index' %}">もどる</a></p>
{% endblock %}