{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>ToDoリスト</title>

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

        <link rel="stylesheet" href="https://unpkg.com/karma-css@latest/dist/karma.min.css">
        <link rel="stylesheet" href="{% static 'css/index.css' %}" >
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    </head>
    <body>
        <div class="container">
            <h1>ToDoリスト</h1>
            {% block content %}
            <h2>リスト</h2>
            <p><a href="{% url 'add' %}">追加</a></p>
            {% if todo_list %}
            <table class="todo list table">
                <tbody>
                    {% for post in todo_list %}
                    <tr>
                        <td>
                            <a href="{% url 'detail' post.id %}">{{ post.title }}</a>
                        </td>
                        <td>
                            {{ post.deadline }}
                        </td>
                        <td>
                            <form action="{% url 'delete' post.id %}" method="post">
                                {% csrf_token %}
                                <button class="button del">削除</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>登録済みのタスクはありません！</p>
            {% endif %}
            {% endblock %}
        </div>
    </body>
</html>