{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>ToDoリスト</title>

        <link rel="stylesheet" href="https://unpkg.com/karma-css@latest/dist/karma.min.css">
        <link rel="stylesheet" href="{% static 'css/index.css' %}" >
    </head>
    <body>
        <div class="container">
            <h1><a href="{% url 'index' %}">ToDoリスト</a></h1>
            {% block content %}
            <h2>リスト</h2>
            <p><a href="{% url 'add' %}">追加</a></p>
            {% if todo_list %}
            <table class="todo list table">
                <tbody>
                    <tr>
                        <th>タイトル</th>
                        <th>期限</th>
                        <th>通知</th>
                    </tr>
                    {% for post in todo_list %}
                    <tr>
                        <td>
                            <a href="{% url 'detail' post.id %}">{{ post.title }}</a>
                        </td>
                        <td>
                            {{ post.deadline }}
                        </td>
                        <td>
                            {{ post.get_when_remind_display }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>登録済みのタスクはありません！</p>
            {% endif %}
            {% endblock %}
        </div>
    </body>
</html>